///----------------------------------------------------------------------------
///	!$7 - Useful Classes - Displays                                                        
///----------------------------------------------------------------------------

/*! Useful > Displays */
.display{
  &-flex{ display: flex; }
  &-inline-flex{ display: inline-flex; }
  &-contens{ display: contens; }
}